<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2>Sign Up</h2>
    <br />
    <%= form_for @user do |f| %>

        <% if @user.errors.any? %>
            <div class="alert alert-danger" role="alert">
              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="row form-group">
          <%= f.label :email, :class => 'col-sm-3 form-control-label' %>
          <div class="col-sm-9">
            <%= f.text_field :email, :class => 'form-control', :placeholder => 'Email' %>
            <small class="text-muted">We'll never share your email with anyone else.</small>
          </div>
        </div>

        <div class="row form-group">
          <%= f.label :password, :class => 'col-sm-3 form-control-label' %>
          <div class="col-sm-9">
            <%= f.password_field :password, :class => 'form-control', :placeholder => 'Password' %>
          </div>
        </div>

        <div class="row form-group">
          <%= f.label :password_confirmation, :class => 'col-sm-3 form-control-label' %>
          <div class="col-sm-9">
            <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => 'Password Confirmation' %>
          </div>
        </div>

        <div class="row form-group actions">
          <div class="col-sm-offset-3 col-sm-9">
            <%= f.submit 'Sign Up', :class => 'btn btn-raised btn-primary' %>
          </div>
        </div>
    <% end %>
  </div>
</div>