<!DOCTYPE html>
<html lang="en">
<head>
  <title>MusichallRails</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>


  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <script src="https://npmcdn.com/es6-shim@0.35.0/es6-shim.min.js"></script>

  <script src="https://npmcdn.com/zone.js@0.6.12?main=browser"></script>
  <script src="https://npmcdn.com/reflect-metadata@0.1.3"></script>
  <script src="https://npmcdn.com/systemjs@0.19.27/dist/system.src.js"></script>

  <%=	 javascript_include_tag 'systemjs.config' %>

  <%#= javascript_include_tag 'application' %>




<!--  &lt;!&ndash; 2. Configure SystemJS &ndash;&gt;
  <script src="systemjs.config.js"></script>-->
  <script>
    System.import('app/main').catch(function(err){ console.error(err); });
  </script>

</head>
<body style="font-family: 'Source Sans Pro', sans-serif;">

<nav class="navbar navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">MusicHall</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/songs/">Songs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
  </ul>

  <ul class="nav navbar-nav pull-md-right">
    <% if current_user %>
        Logged in as current_user.email
        <li class="nav-item">
          <%= link_to 'Log Out', logout_path %>
        </li>
    <% else %>
        <li class="nav-item">
          <%= link_to 'Sign Up', signup_path %>
        </li>
        <li class="nav-item">
          <%= link_to 'Login', login_path %>
        </li>
    <% end %>
  </ul>
</nav>

<my-app>
  <div class="loading-wrap">
    <div class="triangle1"></div>
    <div class="triangle2"></div>
    <div class="triangle3"></div>
  </div>
</my-app>

<%= yield %>
</body>
</html>
